{% extends 'base.html.twig' %}

{% block title %}Gestion Sites{% endblock %}

{% block body %}
    {% for site in sites %}
        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Ville</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>{{ site.id }}</th>
                    <td>{{ site.nom }}</td>
                    <td><a href="{{ path('admin_site_modif') }}">Modifier</a></td>
                    <td><a href="">Supprimer</a></td>
                </tr>
                </tbody>
            </table>
        </div>





    {% endfor %}
{% endblock %}
