<h1>Hello! Confirmez votre email svp !</h1>

<p style="text-align: center; font-weight: bold; font-size: medium">
    Merci de confirmer votre email en cliquant sur le liens suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Le liens expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
