{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block body %}

    <section class="bg-gray-50 dark:bg-gray-900">
        {{ form_start(resetForm) }}
        <div class="flex flex-col items-center justify-start  px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-16 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Réinitialiser votre mot de passe
                    </h1>
                        <div>
                        </div>
                        <div>
                            {{ form_row(resetForm.plainPassword) }}
                        </div>

                        <button type="submit"
                                class="w-full text-white bg-neutral hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                            Réinitialiser
                        </button>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">
                </div>
            </div>
        </div>
        {{ form_end(resetForm) }}
    </section>




{% endblock %}



