{% extends 'base.html.twig' %}


{% block body %}

    <div class="container">
        {{ form(sortieForm) }}

    </div>
    <p id="latitude"></p>

    <p id="longitude"></p>

    <div id="map"></div>
{% endblock %}
