{% extends 'base.html.twig' %}

{% block title %}Modif Site{% endblock %}

{% block body %}
    <h1>Edition</h1>

    {{ include('site_admin/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-neutral m-1" href="{{ path('app_site_admin_index') }}">Retour</a>

    {{ include('site_admin/_delete_form.html.twig') }}
{% endblock %}
