@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Mukta&display=swap');

/*body {
    height: 100vh;
    width: 100%;
    display: block;
    background-image: url("/public/images/fond.jpg");
    background-size: cover;
}*/

body{
    //font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Mukta', sans-serif;
}


#map { height: 350px;
    width: 500px;
    border-radius: 10%;
    border: 3px solid;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=password], input[type=email], input[type=datetime-local], input[type=number] {
    @apply input rounded input-bordered input-sm w-full max-w-xs m-1;
}


button {
    @apply btn btn-neutral m-1 rounded-2xl;
}



.error-message {
    color: #ff0000;
}

.alert{
    margin: auto;
    background-color: green;
    width: 100%;
}
.imageProfil {
   max-width: 150px
}

