@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer components {

    .form-row {
        @apply mb-2 flex gap-4;
    }

    .form-label {
        @apply font-semibold w-1/4;
    }

    .form-field {
        @apply rounded border-2 border-gray-200 flex-grow;
    }

    .form-checkbox {
        @apply rounded border-2 border-gray-200;
    }
}*/

#map { height: 350px;
    width: 500px;
    border-radius: 10%;
    border: 3px solid;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=password] {
    @apply input rounded input-bordered input-sm w-full max-w-xs m-1;
}

/*
button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
*/


.error-message {
    color: #ff0000;
}

.alert{
    margin: auto;
    background-color: green;
    width: 100%;
}
.imageProfil {
    height: 400px;
    width: 200px;
}

