@tailwind base;
@tailwind components;
@tailwind utilities;

#map { height: 350px;
    width: 500px;
    border-radius: 10%;
    border: 3px solid;
    margin-left: auto;
    margin-right: auto;
}

input[type=text], input[type=password] {
    @apply input input-bordered input-sm w-full max-w-xs m-1;
}

button {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}

.error-message {
    color: #ff0000;
}

.alert{
    margin: auto;
    background-color: green;
    width: 100%;
}
.imageProfil {
    height: 400px;
    width: 200px;
}

